@use './variables';

/* EXTEND para títulos-pag*/
%titulo-pagina {
    font-family: variables.$letraSubTitulos;
    font-weight: 900;
    text-align: center;
    font-size: 3.5rem;
    color: variables.$colorLetras;
    padding-top: 1%;
    padding-bottom: 2%;
}
%sub-titulo {
    font-family: variables.$letraSubTitulos;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
    color: variables.$colorLetras;
}
/* EXTEND para texto de párrafo */
%texto-parrafo {
    font-family: variables.$letraParrafos;
    font-weight: 400;
    font-style: normal;
    color: variables.$colorLetras;
}
%texto-menu{
    margin-right: 10%;
    font-family: variables.$letraSubTitulos;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    color: variables.$colorLetras;
}
/* MIXIN para margin responsive */
@mixin margenes($left, $right, $top, $bottom) {
    margin-left: $left;
    margin-right: $right;
    margin-top: $top;
    margin-bottom: $bottom;
}

/* MIXIN para dimensiones */
@mixin dimensiones($ancho, $alto: auto) {
    width: $ancho;
    height: $alto;
}