@use './variables';
@use './extends';
@use './header';

footer{
    background-color: variables.$colorSecundario;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        @extend %sub-titulo;
        @include extends.margenes(2%,2%,2%,0);
    }
    .contact-form{
        @extend %texto-parrafo;
        @include extends.margenes(2%,2%,0,2%);

        div {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        label {
            margin-bottom: 4px;
        }

        input, textarea, button{
            @extend %texto-parrafo;
            background-color: variables.$colorPrincipal;
        }

        button{
            padding: 0.5%;
            border-radius: 10px;
            margin-top: 2%;

            &:active{
                background-color: variables.$colorSecundario;
            }
        }
    }

    .menu-footer {
        align-items: center;
        justify-content: center;
        margin-top: 5%;
        
        .menu-nav{
            @extend %texto-menu;

            .lista-nav {
                display: flex;
                flex-direction: row;
                list-style: none;
                gap: 20px;

                .item-nav {
                    position: relative;
                    white-space: nowrap;  
                }

                .link-nav {
                    text-decoration: none;
                    color: inherit;
                }

                .submenu {
                    display: none !important;
                }
            }
        }
    }

    .copy{
        text-align: center;
        @extend %texto-parrafo;
    }
}