/* tablet grande / pantalla chica */
@media (min-width: 901px) and (max-width: 1200px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    .titulo-sitio {
        font-size: 4rem;
    }

    .subtitulo-sitio {
        font-size: 1.5rem;
        align-items: center;
        text-align: center; 
        padding-bottom: 10px;
    }

    .imagen-portada {
        width: 80%;
        justify-items: center;
        height: 10%;
        object-fit: cover;
        object-position: center top;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4%;
        border-radius: 8px;
        padding: 0;
    }

    .menu-nav {
        margin-right: 2%;
    }

    .lista-nav {
        gap: 15px;
        font-size: 1.5rem;
    }
/* aca arrancaron los cambio */
    .pagina-discografia .container-flex {
        flex-direction: row;
    }

    .tapa-año-titulo {
        flex: 0 0 230px;
    }

    details {
        flex: 0 0 220px;
    }

    .album-info {
        flex: 1;
    }
/* aca termina los cmabis */
    .imagen-grammy,.imagen-chica{
        width: 30%;
    }

    .menu-footer{
        text-align: center;
        width: 100%;
        margin-left: 0;
    }

    .menu-footer .lista-nav {
        justify-content: center;
    }

}
@media  (min-width: 536px) and (max-width: 900px)  {
    header {
        flex-direction: column;
        padding: 15px;
        align-items: center;
    }

    .titulo-sitio {
        font-size: 3.5rem;
        align-items: center;
        text-align: center;  
    }

    .subtitulo-sitio {
        font-size: 1.3rem;
        align-items: center;
        text-align: center; 
    }

    .menu-nav {
        margin-right: 0;
        margin-top: 10px;
    }

    .lista-nav {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 12px;
        font-size: 1.4rem;
    }
    /* asi no hace scrolleo lateral */
    .item-nav:nth-child(4) .submenu, .item-nav:nth-child(5) .submenu {
        left: auto;
        right: 0;
    }

    .item-submenu{
        font-size: 1.3rem;
        margin-right: 2%;
    }

    .imagen-portada {
        width: 90%;
        justify-items: center;
        height: 10%;
        object-fit: cover;
        object-position: center top;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4%;
        border-radius: 8px;
        padding: 0;
    }

    .imagen-grammy,.imagen-chica{
        width: 40%;
    }
    
    .pagina-discografia .container-flex {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .tapa-año-titulo {
        flex: 0 0 100%;
    }

    details {
        flex: 0 0 auto;  
    }

    .album-info {
        flex: 0 0 100%;
        margin-top: 10px;
    }

    .menu-footer{
        text-align: center;
        width: 100%;
        margin-left: 0;
    }

    .menu-footer .lista-nav {
        justify-content: center;
    }

    .tapa-album{
        width: 30%;
    }

    .imagen-masters{
        width: 50%;
    }

    .title-size{
        min-height: auto;
    }
}  
@media (max-width: 536px) {
    header {
        flex-direction: column;
        padding: 10px 15px;
        align-items: center;
    }

    .titulo-sitio {
        font-size: 3rem;
        text-align: center;  
    }

    .subtitulo-sitio {
        font-size: 1.2rem;
        text-align: center; 
    }

    .menu-nav {
        margin-right: 0;
        width: 100%;
        margin-top: 10px;
    }

    .lista-nav {
        flex-direction: column;
        gap: 5px;
    }

    .link-nav {
        font-size: 1.2rem;
    }

    .submenu {
        position: absolute;
        display: none;
        background-color: #7D6B5A;
        min-width: 200px;
    }

    .item-nav:hover .submenu {
        display: block;
    }

    .link-submenu {
        font-size: 1rem;
        padding: 3px 10px;
        color: #07082B;
    }

    .imagen-portada {
        width: 90%;
        height: 250px;
        object-fit: cover;
        margin: 0 auto 20px auto;
        display: block;
        padding: 0;
    }
    .imagen-masters,.imagen-chica,.imagen-grammy{
        float: none;
        width: 70%;
        margin: 0 auto 20px auto;
        display: block;
    }

    .pagina-discografia .container-flex {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .tapa-año-titulo {
        flex: 0 0 100%;
        width: 80%;
    }

    details {
        flex: 0 0 100%;
    }

    .album-info {
        flex: 0 0 100%;
    }

    .title-size{
        min-height: auto;
    }
    .menu-footer{
        margin-left: 0;
        text-align: center;
    }
}
